body{
    background-color: gainsboro;
}

h1{
    color: blue;
    text-decoration: line-through;
    background-color: cyan;
}

#div-heading{
    color: rgb(220, 55, 82);
    font-size: 24px;
}

.para{
    font-family: 'Courier New';
}